doctype html
html(lang="en")
	head
		meta(http-equiv="content-type")(content="text/html;charset=UTF-8")
		title Bomberman
		link(rel="stylesheet")(href="stylesheets/main-min.css")
	body
		div.page-wrap.pure-g
			div#menu.pure-u-1.pure-u-md-1-3.pure-u-lg-1-5
				div#lobby.pure-u-1-2.pure-u-md-1
					div#persons
					div.controls
						button#lobby-disconnect.pure-button(hidden)(autocomplete="off")
							i.fa.fa-chain-broken
							span Disconnect
						button#lobby-join.pure-button(autocomplete="off")
							i.fa.fa-sign-in
							span Join Lobby
						button#lobby-toggle.pure-button(autocomplete="off")
							i.fa.fa-toggle-off
							span Open Lobby
					button#game-start.pure-button(autocomplete="off")
						i.fa.fa-play
						span Start Game
					div#modal-join
						input(type="text")(placeholder="Peer's ID")(autocomplete="off")
						button.pure-button(autocomplete="off") Join
				div#chat.pure-u-1-2.pure-u-md-1
					div.wrap
						div#messages
						div.input
							input(type="text")(placeholder="Type here to chat.")
			div#game.pure-u-1.pure-u-md-2-3.pure-u-lg-4-5
		include templates/message.html
		include templates/person.html
		script(src="scripts/libs-min.js")
		script(src="vendor/phaser/build/phaser.js")
		script(src="scripts/main-built.js")
